@mixin nav {
  nav {
    width: 1200px;
    padding: 10px;
    background: #014e56;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    h2 {
      background-image: url(./imgs/myteam.svg);
      background-repeat: no-repeat;
      background-size: cover;
      color: white;
      text-align: center;
    }
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
    a {
      text-decoration: none;
      color: white;
      transition: 0.2s;
    }
    a:hover {
      color: #f67e7e;
    }
    .nav__btn {
      padding: 10px;
      background: transparent;
      border: 2px solid #ffffff;
      border-radius: 24px;
      font-family: "Livvic";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
      color: #ffffff;
      transition: 0.2s;
    }
    .nav__btn:hover {
      background: #ffffff;
      color: black;
    }
  }

  .burger_menu {
    display: none;
    color: white;
  }

  @media (max-width: 500px) {
    .nav__btn {
      display: none;
    }
    ul {
      li {
        display: none;
      }
    }
    .burger_menu {
      display: block;
    }
  }

  @media (max-width: 1200px) {
    nav {
      width: 90%;
    }
  }
}
@mixin footer {
  .footer {
    padding: 20px 0;
    background: #002529;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &__boxes {
      display: flex;
      justify-content: space-around;
      gap: 50px;
      color: white;
      .logos {
        i {
          font-size: 25px;
          color: white;
          transition: 0.3s all ease;
        }
      }
      .logos i:hover {
        color: #f67e7e;
      }
      .box:nth-child(1) {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        ul {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 10px;
        }
      }
      &__contact {
        font-family: "Livvic";
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 25px;
        color: #ffffff;
        mix-blend-mode: normal;
        opacity: 0.6;
      }
    }

    @media (max-width: 500px) {
      width: 100%;
      flex-direction: column;
      text-align: center;
      &__boxes {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 25px;

        .logos {
          margin-top: 20px;
        }
      }
    }
  }
}
